version: "3.8"
services:
  nginx:
    image: nginx:alpine
    container_name: passwordmanager_nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - passwordmanager-network
      - gateway_net
    restart: always
    depends_on:
      - passwordmanagerapi
      - frontend

  passwordmanagerapi:
    image: viraj231/passwordmanagerapi:latest
    container_name: passwordmanagerapi_container
    environment:
      - ConnectionStrings__DefaultConnection=${LINUX_DB_CONN_STRING}
      - Jwt__Key=${JWT_SECRET_KEY}
      - Jwt__Issuer=https://passwordmanager.virajdeveloper.online
      - Jwt__Audience=https://passwordmanager.virajdeveloper.online
      - ASPNETCORE_URLS=http://+:80
    networks:
      - passwordmanager-network
    restart: always

  frontend:
    image: viraj231/passwordmanagerfrontend:latest
    container_name: passwordmanagerfrontend_container
    networks:
      - passwordmanager-network
    restart: always

networks:
  passwordmanager-network:
    driver: bridge
  gateway_net:
    external: true
