name: CI/CD Pipeline
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: log in to docker hub
        uses: docker/login-action@v1
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: build and push .net docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./passwordmanagerapi/Dockerfile
          platforms: linux/arm64
          push: true
          tags: viraj231/passwordmanagerapi:latest

      - name: build and push frontend image
        uses: docker/build-push-action@v2
        with:
          context: ./frontend
          platforms: linux/arm64
          push: true
          tags: viraj231/passwordmanagerfrontend:latest

      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{secrets.VM_SSH_PRIVATE_KEY}}

      - name: Add VM to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{secrets.VM_IP}} >> ~/.ssh/known_hosts

      - name: create .env file
        run: |
          echo "LINUX_DB_CONN_STRING=${{ secrets.LINUX_DB_CONN_STRING }}" > .env
          echo "JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}" >> .env

      - name: upload env and config to vm
        run: |
          scp .env ubuntu@${{secrets.VM_IP}}:/home/ubuntu/passwordmanager/.env
          scp ./docker-compose.yml ubuntu@${{secrets.VM_IP}}:/home/ubuntu/passwordmanager/docker-compose.yml
          scp ./nginx.conf ubuntu@${{secrets.VM_IP}}:/home/ubuntu/passwordmanager/nginx.conf

      - name: Deploy
        run: |
          ssh ubuntu@${{secrets.VM_IP}} <<EOF
          cd /home/ubuntu/passwordmanager
          docker network create gateway_net || true
          docker compose pull
          docker compose down
          docker compose up -d
          EOF
